/*
    ==========================================================================
    Layout: Hero Banner - Media Queries
    Estilos responsivos para a seção principal.
    ==========================================================================
*/

/* Desktop extra-grande (até 1535px) */
@media (max-width: 1535px) {
	.hero-banner {
		height: calc(100vh - 50px);
	}

	.hero-banner__container {
		height: calc(100% - 70px);
	}

	.hero-banner__image {
		width: 40%;
	}

	.hero-banner__content {
		width: 60%;
	}

	.hero-banner__specialization {
		font-size: var(--font-size-3xl);
	}

	.hero-banner__specialization .text-highlight {
		font-size: var(--font-size-4xl);
	}

	.about-me p {
		font-size: var(--font-size-lg);
	}

	#arrow-down {
		font-size: var(--font-size-5xl);
	}
}

/* Desktop grande / Laptops (até 1199px) */
@media (max-width: 1199px) {
	.hero-banner {
		height: calc(100vh - 40px);
	}

	.hero-banner__container {
		height: calc(100% - 60px);
	}

	.hero-banner__specialization {
		font-size: var(--font-size-2xl);
	}

	.hero-banner__specialization .text-highlight {
		font-size: var(--font-size-3xl);
	}

	.about-me p {
		font-size: var(--font-size-md);
	}

	#arrow-down {
		font-size: var(--font-size-4xl);
	}
}

/* Tablet em paisagem (até 991px) */
@media (max-width: 991px) {
	.hero-banner {
		height: auto;
		padding: var(--spacing-sm) 0 100px;
	}

	.hero-banner__container {
		height: auto;
		flex-direction: column;
		justify-content: space-between;
		gap: var(--spacing-xl);
	}

	.hero-banner__content {
		gap: 20px;
	}

	.hero-banner__image {
		width: 40%;
	}

	.hero-banner__content {
		width: 100%;
		height: 100%;
		padding: 0;
	}

	.hero-banner__content .links {
		flex-direction: row;
	}

	.hero-banner__specialization {
		font-size: var(--font-size-xl);
	}

	.hero-banner__specialization .text-highlight {
		font-size: var(--font-size-2xl);
	}

	#arrow-down {
		font-size: var(--font-size-3xl);
	}
}

/* Tablet em retrato / Mobile grande (até 767px) */
@media (max-width: 767px) {
	.hero-banner__image {
		width: 45%;
	}

	.about-me {
		width: 90%;
	}

	.about-me p {
		font-size: var(--font-size-sm);
	}

	.hero-banner__specialization {
		font-size: var(--font-size-lg);
	}

	.hero-banner__specialization .text-highlight {
		font-size: var(--font-size-xl);
	}

	.about-me__call-to-action {
		font-size: var(--font-size-base);
	}

	#arrow-down {
		bottom: var(--spacing-sm); /* 30px */
		font-size: var(--font-size-3xl);
	}
}

/* Mobile padrão (até 575px) */
@media (max-width: 575px) {
	.hero-banner {
		height: auto;
		padding: 10px 0 50px;
	}

	.hero-banner__container {
		height: fit-content;
		gap: var(--spacing-xl);
	}

	.hero-banner__image {
		width: 60%;
	}

	.hero-banner__content {
		gap: var(--spacing-md);
	}

	.about-me__call-to-action {
		font-size: var(--font-size-xl);
	}

	#arrow-down {
		display: none;
	}
}
