@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{

    --dark-purple: #10081E;
    --russian-black: #34244A;
    --veronica: #A42BE2;
    --mauve: #D6B8FF;
    --platinum: #E5E5E5;

    --font-principal: "Roboto", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    color: var(--russian-black);
    background-color: var(--mauve);
    font-family: var(--font-principal);
    font-weight: 400;
}

header {
    width: 100%;
    height: 100vh;
    padding: 6%;
    padding-bottom: 50px;
    color: var(--platinum);
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.header-content {
    width: 90%;
    height: 750px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-content-text {
    width: 50%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.header-content-text .header-content-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content-titles h1{
    font-size: 2.6rem;
    font-weight: bolder;
}

.header-content-text p {
    text-align: justify;
    font-size: 1.2rem;
}

.highlight-title {
    color: var(--veronica);
}

.header-content-text .contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.contacts i {
    color: var(--veronica);
    font-size: 3rem;
}

.header-content-text .resume-button {
    padding: 15px 80px;
    font-size: 1.2rem;
    color: var(--dark-purple);
    background-color: var(--veronica);
    border: 1px solid var(--dark-purple);
    border-radius: 5px;
}

.resume-button:hover {
    color: var(--veronica);
    background-color: var(--dark-purple);
    border-color: var(--veronica);
}

.header-content-image {
    width: 42%;
}

#arrown-down {
    color: var(--veronica);
    font-size: 4.2rem;
}

main {
    width: 70%;
    margin: 50px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    width: 100%;
    color: var(--dark-purple);
    text-align: center;
    padding-bottom: 10px;
    font-size: 2.5rem;
    border-bottom: 2px solid var(--dark-purple);
    margin-bottom: 50px;
}

main .section-tools-technology {
    width: 100%;
    margin-bottom: 100px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-tools-technology-items {
    width: 250px;
    padding: 20px;
    border: 1px solid var(--dark-purple);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.section-tools-technology-items .icon-html {
    color: #E34F26;
    font-size: 5rem;
}

.section-tools-technology-items .icon-css {
    color: #1572B6;
    font-size: 5rem;
}

.section-tools-technology-items .icon-js {
    color: #F7DF1E;
    font-size: 5rem;
}

.section-tools-technology-items .icon-git {
    color: #F1502F;
    font-size: 5rem;
}

.section-tools-technology-items p {
    text-align: center;
    font-size: .9rem;
}

.section-projects {
    width: 100%;
    margin-bottom: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2rem;
}

.section-projects-items {
    width: 400px;
    padding-bottom: 20px;
    border: 1px solid var(--dark-purple);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.image-project {
    border-radius: 10px 10px 0 0;
}

.section-projects-items p {
    width: 80%;
    text-align: justify;
    font-size: .9rem;
}

.section-projects-items ul {
    width: 100%;
    padding: 10px 0;
    list-style-type: none;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.section-projects-items ul .icon-project-technology {
    font-size: 2rem;
}

.project-acess {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.project-acess a {
    padding: 15px 30px;
    color: var(--dark-purple);
    border: 1px solid var(--dark-purple);
    text-decoration: none;
    border-radius: 5px;
}

.project-acess a:hover {
    color: var(--mauve);
    background-color: var(--dark-purple);
    border-color: var(--mauve);
}

.section-training {
    width: 100%;
    padding: 20px;
    margin-bottom: 100px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.section-training-items {
    min-width: 180px;
    padding: 20px;
    color: var(--platinum);
    background-color: var(--dark-purple);
    border: 1px solid var(--platinum);
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.section-training-items h5 {
    font-size: 1rem;
    font-weight: bold;
}
.section-training-items h4 {
    margin-bottom: -8px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.section-training-items p {
    font-size: .9rem;
}

footer {
    padding: 30px;
    color: var(--platinum);
    background-color: var(--dark-purple);

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section {
    width: 90%;
    height: 150px;
    margin: auto;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.footer-text {
    font-size: 1.2rem;
}

.footer-contats {
    padding: 20px 80px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.footer-contats ul {
    list-style: none;
}

.footer-contats ul li {
    margin: 10px auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.footer-contats ul li i {
    font-size: 1.5rem;
}

.footer-contats ul li a {
    color: var(--platinum);
    text-decoration: none;
}

.footer-contats ul li a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: .9rem;
}