/* 
   ==========================================================================
   Base: Estilos Globais
   Propriedades aplicadas a todo o corpo do documento.
   ==========================================================================
*/
html,
body {
	color: var(--color-text-dark);
	background-color: var(--color-background-light);
	font-family: var(--font-family-base);
	font-size: 16px; /* Base rem */
	font-weight: var(--font-weight-regular);
}
