/* 
   ==========================================================================
   Base: Estilos Globais
   Propriedades aplicadas a todo o corpo do documento.
   ==========================================================================
*/

html,
body {
	font-family: var(--font-family-base);
	font-size: 16px;
	font-weight: var(--font-weight-regular);
	color: var(--color-text-dark);
	background-color: var(--color-background-light);
}
