/* 
  ==========================================================================
    Base: Reset CSS
    Remove estilos padrão do navegador para consistência.
  ==========================================================================
*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: clip;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

button {
	cursor: pointer;
	background: none;
	border: none;
}
