/*
   ==========================================================================
   Utilidades: Animações Keyframes
   Definições de animações reutilizáveis.
   ==========================================================================
*/
@keyframes avatar-bounce {
	0% {
		filter: drop-shadow(0 0 2.5px var(--color-accent-translucent-30))
			drop-shadow(0 0 5px var(--color-accent-translucent-30))
			drop-shadow(0 0 7.5px var(--color-accent-translucent-30));
	}
	100% {
		filter: drop-shadow(0 0 10px var(--color-accent-translucent-30))
			drop-shadow(0 0 20px var(--color-accent-translucent-30))
			drop-shadow(0 0 30px var(--color-accent-translucent-30));
	}
}

@keyframes call-to-action {
	0% {
		color: var(--color-text-dark);
	}
	100% {
		color: var(--color-primary-accent);
	}
}

@keyframes arrow-bounce {
	0% {
		color: var(--color-text-dark);
		transform: translateY(-8px);
	}
	100% {
		color: var(--color-primary-accent);
		transform: translateY(5px);
	}
}

/* Aplicação das animações aos elementos */
.hero-banner__image img {
	animation: avatar-bounce 1.5s ease-in forwards infinite alternate-reverse;
}

.about-me__call-to-action {
	animation: call-to-action 1.5s infinite alternate-reverse;
}

#arrow-down {
	animation: arrow-bounce 1s ease-in-out alternate infinite;
}
