/*
   =========================================================================
   Componentes: Seções (Configurações Genéricas)
   Estilos base para todas as seções reutilizáveis.
   ==========================================================================
*/

.section {
	width: 100%;
	max-width: 1680px;
	margin: var(--spacing-xl); /* 50px */
	padding: var(--spacing-2xl); /* 64px */
	background-color: var(--color-light-translucent-30);
	border-radius: 8px;
	box-shadow: 0 0px 12px var(--color-primary-accent);
	scroll-margin-top: 120px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.section__title {
	width: 100%;
	margin-bottom: var(--spacing-xl); /* 50px */
	padding-bottom: var(--spacing-sm); /* 10px */
	text-align: center;
	font-size: var(--font-size-4xl); /* 40px */
	color: var(--color-text-dark);
	border-bottom: 2px solid var(--color-primary-accent);
}
