/*
   ==========================================================================
   Layout: Rodapé
   Estilos para o rodapé da página.
   ==========================================================================
*/

.footer {
	width: 100%;
	padding: var(--spacing-xl) 0 var(--spacing-xs); /* 50px 0 8px */
	color: var(--color-text-light);
	background-color: var(--color-background-dark);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-xl); /* 50px */
}

.footer__content {
	width: 90%;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
	gap: var(--spacing-md); /* 24px */
}

.footer__intro {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	gap: var(--spacing-xl);
}

.footer__tagline {
	max-width: 350px;
	margin-right: var(--spacing-md);
	text-align: left;
	font-size: var(--font-size-md);
	line-height: 1.4;
	color: var(--color-text-light);
}

.footer__tagline strong {
	font-weight: var(--font-weight-bold);
	color: var(--color-text-dark);
}

.footer__social-icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--spacing-xl); /* 48px */
}

.footer__social-icons li a i {
	font-size: var(--font-size-icon-md);
	color: var(--color-text-dark);
	transition: all 0.3s ease;
}

.footer__social-icons li a i:hover {
	color: var(--color-primary-accent);
	transform: translateY(3px);
	filter: drop-shadow(0px 0px 10px var(--color-dark-translucent-30));
}

.footer__branding {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-md); /* 24px */
}

.footer__logo {
	width: 250px;
	height: auto;
	align-self: center;
}

.footer__contact-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--spacing-xl); /* 48px */
}

.footer__contact-item {
	width: 240px;
	height: fit-content;
	padding: var(--spacing-xl) var(--spacing-2xl); /* 48px e 64px */
	text-align: center;
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-regular);
	color: var(--color-text-light);
	background-color: var(--color-text-dark);
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 12px 12px 0px var(--color-primary-accent);
	transition: transform 0.3s ease;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.footer__contact-item p {
	margin: 0;
}

.footer__contact-item i {
	font-size: var(--font-size-icon-md);
	margin-bottom: var(--spacing-xs); /* 8px */
}

.footer__contact-item:hover {
	transform: translateY(5px);
}

.footer__copyright {
	margin-top: var(--spacing-md); /* 24px */
	font-size: var(--font-size-sm);
	color: var(--color-text-light);

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--spacing-md); /* 24px */
}

.footer__copyright img {
	width: 20px;
	border-radius: 50%;
}
