@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	/* Cores Semânticas */
	--color-background-dark: #212121; /* Preto quase absoluto (para seções escuras, texto em destaque no escuro) */
	--color-background-light: #f9f9f9; /* NOVO: Branco suave para o background principal */
	--color-text-dark: #424242; /* Cinza chumbo (para texto principal no fundo claro) */
	--color-text-light: #fafafa; /* Branco puro (para texto em fundos escuros) */
	--color-primary-accent: #8e24aa; /* Roxo médio/escuro vibrante (o seu destaque principal) */

	/* Cores Detalhes */
	--color-primary-accent-transparent: rgba(142, 36, 170, 0.3); /* Roxo com 30% de opacidade */
	--color-text-dark-transparent: rgba(66, 66, 66, 0.3); /* Cinza chumbo (para texto principal no fundo claro) */
	--color-text-light-transparent: rgba(250, 250, 250, 0.3); /* Branco puro (para texto em fundos escuros) */

	/* Tipografia */
	--font-family-base: 'Roboto', sans-serif;
	--font-weight-regular: 400;

	/* NOVAS VARIÁVEIS DE TAMANHO DE FONTE EM REM */
	--font-size-xs: 0.8rem; /* ~12.8px */
	--font-size-sm: 0.9rem; /* ~14.4px */
	--font-size-base: 1rem; /* 16px (base do navegador) */
	--font-size-md: 1.1rem; /* ~17.6px */
	--font-size-lg: 1.2rem; /* ~19.2px */
	--font-size-xl: 1.4rem; /* ~22.4px */
	--font-size-2xl: 1.55rem; /* ~24.8px */
	--font-size-3xl: 2rem; /* 32px */
	--font-size-4xl: 2.5rem; /* 40px */
	--font-size-5xl: 2.8rem; /* ~44.8px */
	--font-size-6xl: 3rem; /* 48px */
	--font-size-7xl: 3.2rem; /* ~51.2px */
	--font-size-icon-sm: 1.5rem; /* 24px para ícones menores */
	--font-size-icon-md: 2rem; /* 32px para ícones médios */
	--font-size-icon-lg: 5rem; /* 80px para ícones grandes */
}

@keyframes avatar-bounce {
	0% {
		filter: drop-shadow(0 0 2.5px var(--color-primary-accent-transparent))
			drop-shadow(0 0 5px var(--color-primary-accent-transparent))
			drop-shadow(0 0 7.5px var(--color-primary-accent-transparent));
	}
	100% {
		filter: drop-shadow(0 0 10px var(--color-primary-accent-transparent))
			drop-shadow(0 0 20px var(--color-primary-accent-transparent))
			drop-shadow(0 0 30px var(--color-primary-accent-transparent));
	}
}

@keyframes call-to-action {
	0% {
		color: var(--color-text-dark);
	}
	100% {
		color: var(--color-primary-accent);
	}
}

@keyframes resume-hover {
	100% {
		color: var(--color-background-dark);
		background-color: var(--color-primary-accent);
		border-color: var(--color-primary-accent);
		transform: translateY(3px);
		filter: drop-shadow(0px 0px 10px var(--color-text-dark));
	}
}

@keyframes arrow-bounce {
	0% {
		color: var(--color-text-dark);
		transform: translateY(-8px);
	}
	100% {
		color: var(--color-primary-accent);
		transform: translateY(5px);
	}
}

@keyframes access-hover {
	100% {
		color: var(--color-background-light);
		background-color: var(--color-background-dark);
		border-color: var(--color-background-light);
		transform: translateY(0.5px);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	color: var(--color-text-dark);
	background-color: var(--color-background-light);
	font-family: var(--font-family-base);
	font-size: 16px;
	font-weight: var(--font-weight-regular);
	overflow-x: clip;
	scroll-behavior: smooth;
}

/* --- BANNER DE DESENVOLVIMENTO --- */
.banner-development {
	display: none;
	width: 100%;
	padding: 8px 0;
	text-align: center;
	font-size: var(--font-size-base);
	font-weight: 600;
	color: var(--color-background-dark);
	background-color: var(--color-primary-accent);

	position: absolute;
	top: 0;
}

/* ----------------------------------- HEADER ------------------------------ */

.header {
	width: 100%;
	height: 60px;
	background-color: var(--color-background-dark);
	z-index: 1;

	position: sticky;
	top: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	nav {
		ul {
			width: 100%;
			list-style: none;

			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 200px;

			li {
				transition: color 0.2s ease, border-bottom 0.3s ease;

				a {
					text-decoration: none;
					font-weight: 800;
					color: var(--color-text-dark);
					position: relative;

					&::before {
						position: absolute;
						bottom: 0;
						left: 0;
						content: '';
						height: 2px;
						background-color: var(--color-primary-accent);

						transition: width 0.5s ease;
						width: 0%;
					}
				}

				&.active {
					a {
						color: var(--color-text-light);

						&::before {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

/* ----------------------------------- MAIN ------------------------------ */
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;

	#banner {
		width: 100%;
		height: calc(100vh - 60px);
		padding: 6%;
		padding-bottom: 30px;
		color: var(--color-text-light);
		background-color: var(--color-background-dark);
		position: relative;
		scroll-margin-top: 60px;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 100px;

		.banner__container {
			width: 90%;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			.banner__image {
				width: 42%;

				img {
					width: 100%;
					height: auto;
					border-radius: 50%;

					animation: avatar-bounce 1.5s ease-in forwards infinite alternate-reverse;
				}
			}

			.banner__content {
				width: 50%;
				padding: 20px;

				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 50px;

				.banner__titles {
					display: flex;
					flex-direction: column;
					align-items: center;

					h1 {
						font-size: var(--font-size-6xl);
						font-weight: bold;
					}

					.highlight-title {
						font-size: var(--font-size-7xl);
						font-weight: bolder;
						color: var(--color-text-dark);

						&:hover {
							color: var(--color-primary-accent);
							filter: drop-shadow(0px 0px 10px var(--color-text-light-transparent));
						}
					}

					.specialization {
						font-size: var(--font-size-4xl);
						font-weight: bold;

						.highlight-title {
							font-size: var(--font-size-5xl);
						}
					}
				}

				.about-me {
					display: flex;
					flex-direction: column;
					gap: 20px;

					p {
						/* text-align: justify; */
						font-size: var(--font-size-xl);
						line-height: 1.5;
					}

					.call-to-action {
						font-size: var(--font-size-2xl);
						font-weight: bold;
						color: var(--color-text-dark);
						animation: call-to-action 1.5s infinite alternate-reverse;
					}
				}

				.banner__social-links {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 50px;

					i {
						color: var(--color-text-dark);
						font-size: var(--font-size-icon-md);
						transition: all 0.3s ease;

						&:hover {
							color: var(--color-primary-accent);
							transform: translateY(3px);
							filter: drop-shadow(0px 0px 10px var(--color-text-dark));
						}
					}
				}

				.button--resume {
					padding: 15px 80px;
					font-size: var(--font-size-lg);
					text-decoration: none;
					color: var(--color-background-dark);
					background-color: var(--color-text-dark);
					border: 1px solid var(--color-background-dark);
					border-radius: 5px;
					cursor: pointer;

					&:hover {
						animation: resume-hover 300ms ease-in forwards;
					}
				}
			}
		}

		#arrow-down {
			color: var(--color-text-dark);
			font-size: var(--font-size-6xl);
			animation: arrow-bounce 1s ease-in-out alternate infinite;

			position: absolute;
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.section {
		width: 90%;
		min-height: 500px;
		scroll-margin-top: 120px;

		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 100px;
	}

	.section__title {
		width: 100%;
		color: var(--color-background-dark);
		text-align: center;
		padding-bottom: 10px;
		font-size: var(--font-size-4xl);
		border-bottom: 2px solid var(--color-background-dark);
		margin-bottom: 50px;
	}

	#section--tools-technology {
		#tools-technology__items {
			width: 80%;

			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 20px;

			.tool {
				width: 250px;
				padding: 20px;
				border: 1px solid var(--color-background-dark);
				border-radius: 10px;

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				gap: 30px;

				i {
					font-size: var(--font-size-icon-lg);
				}

				p {
					text-align: center;
					font-size: var(--font-size-sm);
				}
			}
		}
	}

	#section--projects {
		#project__items {
			width: 80%;

			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 20px;

			.project {
				width: 400px;
				padding-bottom: 20px;
				border: 1px solid var(--color-background-dark);
				border-radius: 10px;

				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;

				.project__image {
					border-radius: 10px 10px 0 0;
				}

				p {
					width: 80%;
					text-align: justify;
					font-size: var(--font-size-sm);
				}

				.project__tech-list {
					width: 100%;
					padding: 10px 0;
					list-style-type: none;

					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					gap: 20px;

					.icon-project-technology {
						font-size: var(--font-size-icon-md);
					}
				}

				.project__access {
					display: flex;
					flex-direction: row;
					gap: 50px;

					a {
						padding: 15px 30px;
						color: var(--color-background-dark);
						border: 1px solid var(--color-background-dark);
						text-decoration: none;
						border-radius: 5px;

						&:hover {
							animation: access-hover 250ms ease-in forwards;
						}
					}
				}
			}
		}
	}

	#section--training {
		padding: 20px;

		#training__items {
			width: 80%;

			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 20px;

			.training {
				min-width: 180px;
				padding: 20px;
				color: var(--color-text-light);
				background-color: var(--color-background-dark);
				border: 1px solid var(--color-text-light);

				display: flex;
				flex-direction: column;
				justify-content: space-around;
				gap: 10px;

				h5 {
					font-size: var(--font-size-base);
					font-weight: bold;
				}

				h4 {
					margin-bottom: -8px;
					font-size: var(--font-size-lg);
					font-weight: bolder;
				}

				p {
					font-size: var(--font-size-sm);
				}
			}
		}
	}
}

/* ----------------------------------- FOOTER ------------------------------ */
.footer {
	width: 100%;
	padding: 50px 0 10px;
	color: var(--color-text-light);
	background-color: var(--color-background-dark);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;

	.footer__content {
		width: 90%;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		align-items: center;
		justify-items: center;

		.footer__intro {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			gap: 40px;

			.footer__tagline {
				max-width: 350px;
				margin-right: 20px;
				text-align: left;
				font-size: var(--font-size-md);
				line-height: 1.4;
				color: var(--color-text-light);

				strong {
					color: var(--color-text-dark);
					font-weight: 700;
				}
			}

			.footer__social-icons {
				list-style: none;

				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 50px;

				li a i {
					font-size: var(--font-size-icon-md);
					color: var(--color-text-dark);

					&:hover {
						color: var(--color-primary-accent);
						transform: translateY(3px);
						filter: drop-shadow(0px 0px 10px var(--color-text-dark));
					}
				}
			}
		}

		.footer__branding {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.footer__logo {
				width: 250px;
				align-self: center;
			}
		}

		.footer__contact-links {
			display: flex;
			flex-direction: row;
			gap: 50px;

			a {
				padding: 30px 60px;
				text-align: center;
				text-decoration: none;
				font-size: var(--font-size-lg);
				font-weight: var(--font-weight-regular);
				color: var(--color-text-light);
				background-color: var(--color-text-dark);
				border-radius: 5px;
				box-shadow: 8px 8px 0px var(--color-primary-accent);
				transition: transform 0.3s ease;

				display: flex;
				flex-direction: column;
				gap: 10px;

				i {
					font-size: var(--font-size-icon-md);
				}

				&:hover {
					transform: translateY(5px);
				}
			}
		}
	}

	.footer__copyright {
		font-size: var(--font-size-sm);

		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;

		img {
			width: 20px;
			border-radius: 50%;
		}
	}
}
